<div class="footer py-3 mt-3">
    <div class="container" style="text-align:center">
        <span class="text-muted">
            Tüm hakları saklıdır &copy;<br />
            Salih ŞEKER MovieApp @DateTime.Now.Year
        </span>
    </div>
</div>